img.avatar {
    width: 160px;
    height: 160px;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: lightgrey;
}

img {
    max-width: 100%;
}

.link-item {
    fill: currentColor;
    display: inline-block;
    font-size: inherit;
    overflow: visible;
    padding-right: 1%;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 960px;
    margin: 40px auto;
    padding: 32px;
    background-image: url("Photos/Texture.png");
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0, 0.1);
}

section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
    padding: 24px 0;
    border-bottom: 1px solid lightgray;
}

section:last-child {
    border-bottom: none;
}

.section-title {
    font-weight: bold;
    font-size: 20px;
}

.myname {
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
}

.title {
    font-size: 24px;
    font-weight: 300;
    color: #236FB2;
    margin-bottom: 5px;
}

.education {
    padding-bottom: 15px;
    margin-bottom: 24px;
    border-bottom: 1px solid lightgray;
}

.education:last-child {
    border: none;
}

.education-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
}

.education-school {
    font-weight: bold;
    line-height: 1.2;
}

.internships {
    padding-bottom: 24px;
    padding-bottom: 15px;
}

.internship-description {
    font-size: 18px;
}

.internships-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
}

.internships-job {
    font-weight: bold;
    line-height: 1.2;
}


/************* employment *****/

.employment {
    padding-bottom: 24px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.employment:last-child {
    border: none;
}

.employment-description {
    font-size: 18px;
}

.employment-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
}

.employment-job {
    font-weight: bold;
    line-height: 1.2;
}

.skills-container {
    display: grid;
    grid-template-columns: 0.7fr 0.7fr 0.7fr 0.7fr;
    grid-gap: 97px;
    margin-bottom: 20px;
}

.skills-container ul {
    margin-left: 20px;
    list-style-type: disc;
}

.date {
    font-size: 16px;
}

.languages-title {
    font-weight: bold;
    font-size: 20px;
}

.languages-description {
    font-size: 18px;
}

@media only screen and (max-width:600px) {
    section {
        display: block;
        text-align: center;
        border-bottom: 1px dashed lightgray;
        margin: 0;
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .employment:last-child {
        padding-right: 20px;
    }
    .section-title {
        border: 0.7px solid #236FB2;
    }
    .education {
        padding: 8px;
        margin-bottom: 0px;
    }
    .date {
        display: none;
    }
    .skills-container {
        display: block;
        padding-right: 60px;
    }
    .education:nth-child(2) {
        padding-left: 55px;
    }
    .employment:nth-child(4) {
        padding-left: 30px;
    }
    .languages {
        padding-top: 7px;
    }
    .employment {
        padding-top: 7px;
        padding-bottom: 1px;
    }
    .internships {
        padding-top: 7px;
        padding-bottom: 1px;
    }
}